$sidebar-color: #35352D;
$sidebar-text-color: #C8C590;
$body-color: #DACE9C;
$article-background-color1: #DACE9C;
$article-background-color2: #E5DD92;
$header-background-color1: rgb(179, 167, 117);
$header-background-color2: rgb(221, 210, 146);

@mixin radial-gradient($from-color, $to-color) {
	background: -webkit-radial-gradient(top left, $from-color, $to-color); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(top left, $from-color, $to-color); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(top left, $from-color, $to-color); /* For Firefox 3.6 to 15 */
	background: radial-gradient(top left, $from-color, $to-color); /* Standard syntax */
}

@mixin linear-gradient($from-color, $to-color) {
	background: -webkit-linear-gradient($from-color, $to-color); /* Safari 5.1 to 6.0 */
	background: -o-linear-gradient($from-color, $to-color); /* For Opera 11.6 to 12.0 */
	background: -moz-linear-gradient($from-color, $to-color); /* For Firefox 3.6 to 15 */
	background: linear-gradient($from-color, $to-color); /* Standard syntax */
}

body {
	background: #f1f1f1;


	div.wrapper {
		width: 1050px;
		margin: 0 auto;
		background: $body-color;
		padding: 0px 0 0 0;
		overflow: hidden;

		header {
			padding: 20px 0 20px 0;
			height: 130px;
			margin-top: 30px;
			background-image: url("img/header.png");
			/*@include linear-gradient($header-background-color1, $header-background-color2);*/
			box-shadow: 2px 2px 5px 1px rgba(195, 181, 116, 0.7);
		}

		nav {
			z-index: 2;
			position: relative;

			#main_menu {
				margin: 30px 0 0 150px;
				list-style: none;
				
				li {
					float: left;
					margin: 0 20px 0 0;

					a {
						display: block;
					}

					a:link {
						color: black;
						text-decoration: none;
						padding-bottom: 3px;
					}
					a:visited {
						color: black;
						text-decoration: none;
						padding-bottom: 3px;
					}

					a:hover {
						color: black;
						text-decoration: none;
						border-bottom-width: 1px;
						border-bottom-style: solid;
						padding-bottom: 3px;
						margin-bottom: -1px;
					}

					a:active {
						color: black;
						text-decoration: none;
						border-bottom-width: 1px;
						border-bottom-style: solid;
						padding-bottom: 3px;
						margin-bottom: -1px;
					}
				}
			}
		}

		article {
			float: right;
			width: 580px;
			padding: 0 10px 30px 10px;
			margin: 60px 60px 0 0;
			@include radial-gradient($article-background-color1, $article-background-color2);
			box-shadow: 2px 2px 5px 1px rgba(193, 178, 109, 0.7);
			min-height: 500px;
		}

		#logo {
			/*background-image: url("img/logo-transparent.png");
			width = 1050px;
			height = 247px;*/
			float: left;
			position: absolute;
			z-index: 1;
		}

		aside {
			float: left;
			width: 278px;
			margin: 10px 100px 0 10px;
			padding-top: 270px;
			text-align: center;
			color: $sidebar-text-color;
			background-color: $sidebar-color;
			box-shadow: 2px 2px 5px 1px rgba(87, 82, 60, 0.7);
			min-height: 500px;

			.info {
				display: inline-block;
				height: 24px;
				line-height: 24px;
				background-image: url("img/icone-informations.png");
				background-repeat: no-repeat;
				background-size: 24px 24px;
				background-position: left center;
				padding-left: 30px;
				vertical-align: middle;
			}

			.follow {
				display: inline-block;
				height: 24px;
				line-height: 24px;
				background-image: url("img/icone-bulles.png");
				background-repeat: no-repeat;
				background-size: 24px 24px;
				background-position: left center;
				padding-left: 30px;
				vertical-align: middle;
			}

			.partners {
				display: inline-block;
				height: 24px;
				line-height: 24px;
				background-image: url("img/icone-partenaires.png");
				background-repeat: no-repeat;
				background-size: 24px 24px;
				background-position: left center;
				padding-left: 30px;
				vertical-align: middle;
			}

			hr {
				margin-right: 10px;
				margin-left: 10px;
				border-color: $sidebar-text-color;
			}
		}

		footer {
			float: left;
			width: 1024px;
			text-align: center;
			margin-top: 30px;
		}

	}
}

h3 {
	font-size: 0.90em;
}

html {
	font-family: 'Lato', sans-serif;
}

.portrait {
	float: right;
	padding: 10px 0 20px 20px;
}

.quote {
	color: #088A08;
	font-style: italic;
	font-size: 1.20em;
	text-shadow: 2px 2px 10px white;
}

.googlemap {
	text-align: center;
}

.contact-form {
	background-color: white;

	th, td {
		width: 200px;
		text-align: left;
		padding-bottom: 5px;
		font-weight: normal;
		color: #484545;
	}
}

.form-required label:after {
	content: " *";
	color: red;
}

#form-submit {
	text-align: center;
}