<!doctype html>
<head>
	<meta charset="utf-8">
	
	<!-- Always force latest IE rendering engine (even in intranet) -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<!-- Important stuff for SEO, don't neglect. (And don't dupicate values across your site!) -->
	<title>{% block title %}{{ meta.title }}{% endblock %}</title>
	<meta name="author" content="" />
	<meta name="description" content="{% block description %}{{ meta.description }}{% endblock %}" />
	
	<!-- Don't forget to set your site up: http://google.com/webmasters -->
	<meta name="google-site-verification" content="" />
	<meta name="keywords" content="magnétiseur, guérisseur, paranormal, psycho énergéticien, problème psychologique, thérapeute, magnétisme, dépression, anxiété;, eczéma, zona, rhumatisme, psoriasis, purpura acné, brûlure, mycose, asthme, rhumatologie, traumatologie, troubles digestifs, radiesthésiste, verrues, divorce, rencontre, sexualité, migraine, agitation, nervosité, angoisse, anxiété, dépression, émotivité, insomnie, perturbation et échec scolaire, conflit parentale, éducation, alcoolisme, violence et maltraitance, stress, harcèlement, rééquilibre d'entreprise, purification habitation et exploitation, désenvoûtement, préparation d'examen, confiance en soi, médium, medium, Angers, Nantes, La Rochelle, Ancenis, Châteaubriant, Laval, Le Mans, La Roche sur Yon, Cholet, Saumur, Maine et Loire, Loire Atlantique, Vendée, Charente, Mayenne, Sarthe, Bretagne, Pays de la Loire, Ouest, 44, 49, 53, 72, 17, 22, 56, 85, 35, 29">
	
	<!-- Who owns the content of this site? -->
	<meta name="Copyright" content="" />
	
	<!--  Mobile Viewport
	http://j.mp/mobileviewport & http://davidbcalhoun.com/2010/viewport-metatag
	device-width : Occupy full width of the screen in its current orientation
	initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
	maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width (wrong for most sites)
	-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	{% load staticfiles %}
	{% load compress %}
	<!-- concatenate and minify for production -->
	{% compress css %}
	<link rel="stylesheet" href="{% static 'reset.css' %}" />
	<link rel="stylesheet" href="{% static 'style.css' %}" />
	{% endcompress %}
	{% block css %}{% endblock %}
    <script src="{% static 'jquery.min.js' %}"></script>
    {% block javascript %}{% endblock %}

	<!-- Application-specific meta tags -->
	<!-- Windows 8: see http://msdn.microsoft.com/en-us/library/ie/dn255024%28v=vs.85%29.aspx for details -->
	<meta name="application-name" content="" /> 
	<meta name="msapplication-TileColor" content="" /> 
	<meta name="msapplication-TileImage" content="" />
	<meta name="msapplication-square150x150logo" content="" />
	<meta name="msapplication-square310x310logo" content="" />
	<meta name="msapplication-square70x70logo" content="" />
	<meta name="msapplication-wide310x150logo" content="" />
	<!-- Twitter: see https://dev.twitter.com/docs/cards/types/summary-card for details -->
	<meta name="twitter:card" content="">
	<meta name="twitter:site" content="">
	<meta name="twitter:title" content="">
	<meta name="twitter:description" content="">
	<meta name="twitter:url" content="">
	<!-- Facebook (and some others) use the Open Graph protocol: see http://ogp.me/ for details -->
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="" />
</head>
<body>
<div class="wrapper">
	<div id="logo">
		<img src="{% static 'img/logo-transparent.png' %}" alt="logo">
	</div>
	<header></header>
	<nav>
		<ul id='main_menu'>
			{%for link in navigation %}
				<li><a {% if current_page == link.link_page.page_slug %} class="current" {% endif %} href="{% url 'vitrine:page' link.link_page.page_slug %}">{{ link.link_label }}</a></li>
			{% endfor %}
		</ul>
	</nav>
	<article>	
	{% block page_content %}
	{% endblock %}
    </article>
	<aside>
		<h3 class="info">Informations</h3>
		<p class="left-menu-text">Éric DENIAUD
		<br/>6, Impasse des Mésanges - 49125 TIERCÉ
		<br/>Tél: 02 41 42 12 18 - Port: 06 87 49 33 99
		<br/><br/><a class="left-menu-link" href="{% url 'vitrine:page' 'contact' %}#contact-me">Me contacter</a>
		<br/><br/>Je consulte du lundi au samedi, de 8h à 20h
		<br/>Siret: 529 351 009 00012</p>
		<hr>
		<h3 class="follow">Suivez-moi sur:</h3>
		<p><a href="https://www.facebook.com/pages/%C3%89ric-Deniaud-Magn%C3%A9tiseur/325667220917307" target="_blank"><img src="{% static 'img/facebook.png' %}" class="facebook" alt="facebook" width="32px"></a>
		<a href="https://plus.google.com/114660467677943973458" target="_blank"><img src="{% static 'img/google-plus.png' %}" class="google-plus" alt="google+" width="32px"></a></p>
		<hr>
		<h3 class="partners">Partenaires</h3><br/>
		<p class="left-menu-text" ><a class="left-menu-link" href="http://www.lewebdu49.com" target="_blank">lewebdu49.com</a><br/>
		<a class="left-menu-link" href="http://www.annuairespagesblanches.org/" target="_blank">Les annuaires Pages Blanches/</a><br/>
		<a class="left-menu-link" href="http://www.1001loisirs.com" target="_blank">1001loisirs.com</a><br/>
		<a class="left-menu-link" href="http://www.coodoeil.fr" target="_blank">coodoeil.fr</a><br/>
		<a class="left-menu-link" href="http://france.lachainemeteo.com/meteo-france/ville/previsions-meteo-tierce-5506-0.php" target="_blank">Météo Tiercé</a><br/>
		<a class="left-menu-link" href="https://annuaire.laposte.fr/autres-professionnels-de-sante/deniaud-eric-paul-jean-maurice-52935100900012/" target="_blank">Annuaire.com</a><br/></p>
		<a href="http://www.starofservice.com/annubis/pays-de-la-loire/maine-et-loire/tierce/medecine-alternative" id="starofservice-medallion" target="_blank"><img src="//cdn.starofservice.com/ca3f60163e56/images/featured-pro.png" alt="StarOfservice Top Pro 2015"></a><script src="//cdn.starofservice.com/ca3f60163e56/js/featured-pro.gz.js"></script>
		<br/>
		<br/>
	</aside>
	<footer>
		<p class="footnote">N'arrêtez jamais un traitement médical sans consulter votre Médecin.</p>
		<p><small>&copy; Copyright Eric Deniaud, Praticien Reiki, Magnétiseur 2015. Tous droits réservés.</small></p>
	</footer>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-67070318-1', 'auto');
		ga('send', 'pageview');
	</script>
</div>
</body>
</html>

