<!doctype html>
<head>
	<meta charset="utf-8">
	
	<!-- Always force latest IE rendering engine (even in intranet) -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<!-- Important stuff for SEO, don't neglect. (And don't dupicate values across your site!) -->
	<title>{% block title %}{% endblock %}</title>
	<meta name="author" content="" />
	<meta name="description" content="" />
	
	<!-- Don't forget to set your site up: http://google.com/webmasters -->
	<meta name="google-site-verification" content="" />
	
	<!-- Who owns the content of this site? -->
	<meta name="Copyright" content="" />
	
	<!--  Mobile Viewport
	http://j.mp/mobileviewport & http://davidbcalhoun.com/2010/viewport-metatag
	device-width : Occupy full width of the screen in its current orientation
	initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
	maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width (wrong for most sites)
	-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	{% load staticfiles %}
	<!-- concatenate and minify for production -->
	<link rel="stylesheet" href="{% static 'reset.css' %}" />
	<link rel="stylesheet" href="{% static 'style.css' %}" />
	{% block css %}{% endblock %}
    <script src="{% static 'jquery.min.js' %}"></script>
    {% block javascript %}{% endblock %}

	<!-- Application-specific meta tags -->
	<!-- Windows 8: see http://msdn.microsoft.com/en-us/library/ie/dn255024%28v=vs.85%29.aspx for details -->
	<meta name="application-name" content="" /> 
	<meta name="msapplication-TileColor" content="" /> 
	<meta name="msapplication-TileImage" content="" />
	<meta name="msapplication-square150x150logo" content="" />
	<meta name="msapplication-square310x310logo" content="" />
	<meta name="msapplication-square70x70logo" content="" />
	<meta name="msapplication-wide310x150logo" content="" />
	<!-- Twitter: see https://dev.twitter.com/docs/cards/types/summary-card for details -->
	<meta name="twitter:card" content="">
	<meta name="twitter:site" content="">
	<meta name="twitter:title" content="">
	<meta name="twitter:description" content="">
	<meta name="twitter:url" content="">
	<!-- Facebook (and some others) use the Open Graph protocol: see http://ogp.me/ for details -->
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="" />
</head>
<body>
<div class="wrapper">
	<div id="logo">
		<img src="{% static 'img/logo-transparent.png' %}">
	</div>
	<aside>
		<h3 class="info">Informations</h3>
		<hr>
		<br/>
		<br/>
		<h3 class="follow">Suivez-moi sur:</h3>
		<hr>
		<br/>
		<br/>
		<h3 class="partners">Partenaires</h3>
		<hr>
		<br/>
		<br/>
	</aside>
	<header>	
	</header>
	<nav>
		<ul id='main_menu'>
			<li><a href="">Accueil</a></li>
			<li><a href="">Contact</a></li>
			<li><a href="">Tarifs</a></li>
			<li><a href="">Prestations</a></li>
			<li><a href="">Tarifs</a></li>
			<li><a href="">Prendre rendez-vous</a></li>
		</ul>
	</nav>
	<article>	
	{% block page_content %}
		<h1>{{ article }}</h1>
		<p>{{ article.article_content }}</p>
	{% endblock %}
    </article>
	<footer>
		<p><small>&copy; Copyright Your Name Here 2014. All Rights Reserved.</small></p
	</footer>
</div>
</body>
</html>

