{% extends "base.html" %}

{% block title %}Eric Deniaud, practicien Reiki{% endblock %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" href="{% static 'fullcalendar/fullcalendar.css' %}" />
    <link rel="stylesheet" media='print' href="{% static 'fullcalendar/fullcalendar.print.css' %}" />
{% endblock %}

{% block javascript %}
	<script src="{% static 'fullcalendar/moment.min.js' %}"></script>
	<script src="{% static 'jquery.min.js' %}"></script>
	<script src="{% static 'fullcalendar/fullcalendar.min.js' %}"></script>
	<script src="{% static 'fullcalendar/lang/fr.js' %}"></script>
	<link rel="stylesheet" href="{% static 'fancybox/source/jquery.fancybox.css' %}" type="text/css" media="screen" />
	<script type="text/javascript" src="{% static 'fancybox/source/jquery.fancybox.pack.js' %}"></script>
{% endblock %}

{% block page_content %}
	<h2>{{ labels.title.label_text|safe }}</h2>
	{% for label in labels.content %}
		{{ label.label_text|safe }}
	{% endfor %}
	<script>

		$(document).ready(function() {
	        $(".fancylink").fancybox({
        		//maxWidth	: 400,
        		//maxHeight	: 300,
        		fitToView	: false,
        		autoSize	: true,
        		closeClick	: false,
        		openEffect	: 'fade',
        		closeEffect	: 'fade'
        	});
			
			$('#calendar').fullCalendar({
				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay'
				},
				//defaultDate: '2015-02-12',
				defaultView: 'agendaWeek',
				allDaySlot: false,
				minTime: '08:00:00',
				maxTime: '20:00:00',
				businessHours: {start: '08:00', end: '19:00', dow: [ 1, 2, 3, 4, 5, 6 ]},
				editable: false,
				eventLimit: true, // allow "more" link when too many events
				height: 400,
				slotDuration: '01:00:00',
				events: [
					{
						title: 'All Day Event',
						start: '2015-07-26'
					},
					{
						title: 'Long Event',
						start: '2015-08-07',
						end: '2015-08-10'
					},
					{
						id: 999,
						title: 'Repeating Event',
						start: '2015-08-28T16:00:00'
					},
					{
						id: 999,
						title: 'Repeating Event',
						start: '2015-08-16T16:00:00'
					},
					{
						title: 'Conference 10:00 - 11:00',
						start: '2015-08-11',
						end: '2015-02-13'
					},
					{
						title: 'Meeting',
						start: '2015-08-12T10:30:00',
						end: '2015-08-12T12:30:00'
					},
					{
						title: 'Lunch',
						start: '2015-08-12T12:00:00'
					},
					{
						title: 'Meeting',
						start: '2015-08-12T14:30:00'
					},
					{
						title: 'Happy Hour',
						start: '2015-08-12T17:30:00'
					},
					{
						title: 'Dinner',
						start: '2015-08-12T20:00:00'
					},
					{
						title: 'Birthday Party',
						start: '2015-08-13T07:00:00'
					},
					{
						title: 'Click for Google',
						url: 'http://google.com/',
						start: '2015-08-28'
					},
					{% for event in schedule_events %}
						{% if forloop.last %}
					        {
								title: '{{ event.title }}',
								start: '{{ event.start_date }}',
								end: '{{ event.end_date }}'
							}
					    {% else %}
					        {
								title: '{{ event.title }}',
								start: '{{ event.start_date }}',
								end: '{{ event.end_date }}'
							},
					    {% endif %}
					{% endfor %}
				],

			    dayClick: function(date, jsEvent, view) {
			        $("#id_appointment_date").val(date.format('DD/MM/YYYY HH:ss')).attr('readonly', true);
			        $(".fancylink").click();
			        
			    }
			});
			
		});

	</script>
	<style>

		#calendar {
			max-width: 900px;
			margin: 0 auto;
			font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
			padding: 5px 5px 5px 5px;
			background: #f1f1f1;
		}

	</style>

	<div id='calendar'></div>
	<a class="fancylink" href="#schedule-form" style="display:none;"></a>
	<div id="schedule-form" style="display:none;">
		<p>Prendre un rendez-vous</p>
		<form action ="{% url 'vitrine:create_appointment' %}" method="post">
			{% csrf_token %}
			<table>
				{{ form.as_table }}
			</table>
			<input type="submit" value="Envoyer">
		</form>
	</div>
{% endblock %}